#header {
  padding-top: 36px;
  padding-bottom: 50px;
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center; 
}

#characters {
  color: white;
}

#char-left, #char-right {
  background-image: url(../img/left-char.jpg);
  background-size: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
}

#char-right {
  background-image: url(../img/right-char.jpg);
}

#story, #game {
  background-color: whitesmoke;
}

h1, h2 {
  text-align: center;
}

.team {
  background-color: #FFAFA4;
}

.hidden {
  display: none;
}

.start-btn {
  background-color: #EE3E33;
  color: white;
  margin-top: 20px;
}

.carousel-control {
  background-image: none    !important;
}

.section {
  padding: 15px 10px 20px 10px;
}

.char-info {
  margin-top: 150px;
}

.char-info small {
  color: white;
}

.red-line {
  background-color: #EE3E33;
  height: 3px;
  margin-bottom: 20px;
}

.extra-padding {
  padding-left: 30px;
  padding-right: 30px;
}

div.ctrl-area {
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-collapse: collapse;
  min-height: 250px;
}

table.ctrl-table {
  width: 100%;
}

table.ctrl-table thead tr {
  min-height: 50px;
}

table.ctrl-table tbody tr {
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

table.ctrl-table td {
  min-width: 50px;
}

table.ctrl-table td.ctrl-td-text {
  width: 100%;
  text-align: left;
}

table.other-ctrl {
  width: 100%;
  text-align: left;
}

table.other-ctrl tr {
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border: 2px solid lightblue;
  border-radius: 5px;
}

table.other-ctrl td {
  margin: auto 0;
  font-size: 24px;
  min-width: 120px;
}